*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

body{
    margin-left: 80px;
}

header{
    width: 100%;
    height: 80px;
    background: #017bab;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 200;
}

.icon__menu{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
}

.icon__menu i{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
}


.menu__side{
    width: 250px;
    height: 100%;
    background: #017bab;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    z-index: 300;
}

.name__page{
    padding: 20px 30px;
    display:flex;
    align-items: center;
    margin-top: 10px;
}

.name__page h4{
    margin-left: 10px;
}

.options__menu{
    padding: 20px 30px;
    position: absolute;
    top: 80px;


}



